
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  font-size: larger;
  gap: 20px;
}

form button {
  padding: 10px 20px;
  font-size: large;
  border: 2px solid #444444;
  border-radius: 5px;
  background-color: black;
  color: #E0E0E0;
  cursor: pointer;
}

form button:hover,
form button:focus {
  background-color: #444444;
}

.radio-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.radio-btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  border: 2px solid #007bff;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  transition: background 0.2s, color 0.2s;
}

input[type="radio"]:checked + .radio-btn {
  background-color: #007bff;
  color: white;
}

