.entity {
  display: flex;
  background-color: #1e1e1e;
  padding: 10px 15px;
  border-radius: 5px;
  gap: 15px;
  justify-content: space-between;
  width: 100%;
}

.entityChildren {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  padding: 10px 15px;
  border-radius: 5px;
  gap: 15px;
  justify-content: space-between;
}

.entityChildren li {
  list-style-type: none;
  padding-left: 0;
}

.deleteEntityForm {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 20px;
}

.deleteEntity {
  background: #b00020;
  color: #ffffff;
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: medium;
}

.deleteEntity:hover,
.deleteEntity:focus {
  background: #6c0014;
}

.fileImg {
  width: 100%;
  height: auto;
}

.download {
  text-decoration: none;
  background: #0d6efd;
  color: #ffffff;
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: medium;
}

.download:hover,
.download:focus {
  background: #0b5ed7;
}