/* 
Background: #121212 (charcoal black)
Primary Text: #E0E0E0 (light gray)
Secondary Text: #B0B0B0 (medium gray)
Borders/Dividers: #444444 (dark gray)
Accent: #888888 (soft gray)
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: #444444;
  color: #E0E0E0;
}

header a {
  color: #E0E0E0;
  background-color: #121212;
  text-decoration: none;
  margin: 5px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid #444444;
}

header a:hover,
header a:focus {
  background-color: #444444;
}

.authForm {
  background-color: #121212;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: large;
  width: min(100%, 300px);
}

.authForm legend {
  font-size: x-large;
  color: #E0E0E0;
  margin-bottom: 20px;
}

.authForm button {
  padding: 10px 20px;
  font-size: large;
  border: 2px solid #444444;
  border-radius: 5px;
  background-color: black;
  color: #E0E0E0;
  cursor: pointer;
}

.authForm button:hover,
.authForm button:focus {
  background-color: #444444;
}

.authForm input {
  padding: 2px 4px;
  font-size: large;
  border: 2px solid #444444;
  border-radius: 5px;
  background-color: #444444;
  color: #E0E0E0;
}

.signup {
  width: min(100%, 300px);
}

.signupLink {
  color: rgb(255, 153, 0);
}