.mainContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 10fr;
  height: 100vh;
  width: 100vw;
}

header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #444444;
  align-items: center;
}

header nav {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 10px 20px;
  align-items: center;
}

aside {
  grid-column: 1 / 2;
  grid-row: 2 / -1;
  background-color: #121212;
  border-right: 2px solid #444444;
  padding: 20px;
  width: min(300px, 100%);

}

section {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  padding: 20px;
  width: 100%;
  overflow-y: auto;
}

.flexWrap {
  flex-wrap: wrap;
}

.tree,
.tree ul {
  list-style: none;
  padding-left: 3px;
}

.children {
  display: none;
  border-left: 1px dotted #999;
  margin-left: 6px;
}

.folder {
  cursor: pointer;
  font-weight: 600;
  user-select: none;
}

.folder .icon {
  display: inline-block;
  width: 14px;
}

.idLink {
  color: #E0E0E0;
  text-decoration: none;
}

.idLink:hover,
.idLink:focus {
  text-decoration: underline;
}

.selected {
  background-color: #333333;
  border-radius: 4px;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

.newEntityBox {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.newEntity {
  flex: 1;
  color: #E0E0E0;
  background-color: #121212;
  text-decoration: none;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid #444444;
  cursor: pointer;
}

.newEntity:hover,
.newEntity:focus {
  background-color: #444444;
}