.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: none;         
  justify-content: center;
  align-items: start;
  z-index: 9999;
  padding: 20px;
}

.popup-container {
  background: #121212;
  color: #fff;
  padding: 20px;
  width: 320px;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  font-size: large;
}

.popup-container input,
.popup-container textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  background: #1e1e1e;
  border: 1px solid #333;
  color: #fff;
  border-radius: 4px;
}

.popup-container button {
  width: 100%;
  padding: 10px;
  background: #0d6efd;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.popup-container button:hover {
  background: #0b5ed7;
}

.popup-container a {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: #aaa;
  text-decoration: none;
}

.popup-container a:hover {
  color: #fff;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.popup-open-animation {
  animation: popupFadeIn 0.4s forwards;
}

@keyframes popupFadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

legend {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

input[type="file"]::file-selector-button {
  padding: 5px 10px;
  background: #0d6efd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
  background: #0b5ed7;
}
